body{
    background-color: AliceBlue  ;
}

input[type=submit] {
    background-color: MediumSeaGreen ;
    border: none;
    color: white;
    font-size:90%;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

b{
   font-size:1.3em;
   color: Teal ;
   font-weight: bold;
}

label{
  font-family:Georgia;
  font-size: 1.1em;
}  

input[type=text] {
    width: 15%;
    margin-top:5px;
    margin-bottom:5px;
    padding: 5px 5px 5px;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    background-color: white;
}

 